{% extends 'base.html' %}
{% block title %}Login to {{ block.super }}{% endblock title %}
{% block content %}
<div class="login-container">
    <div class="description">
        <h1>Login to Travan</h1>
        <p> A competetive strategy game </p>
        <p> Where you take control of a tribe </p>
        <p> And fight other players </p>
        <p> To reep the victory and it's glory </p>
        
    </div>
    <div class="login-box">
        <form class="login-form" method="post" action="{% url 'login' %}">
            <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next and '/accounts/' not in request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <p><button type="submit" class="btn btn-primary">Log in</button></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        <p>If you do not have an account, please <a href="{% url 'signup' %}">sign up</a>.</p>
    </div>
</div>
{% endblock content %}