{% extends 'base.html' %}

{% block content %}
<div class="build_resource">
  <h1 style="text-align: center;">Resources buildings</h1>

  {% if request.user.village.exists %}
    <form method="POST" id="build-form">
      {% csrf_token %}
      {% with village=request.user.village.first %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="village_id" value="{{ village.id }}">
      {% endwith %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      <div class="container-building">
      {% for building in available_buildings %}
        {% if building.b_type == "Resource" %}
          <div class="building-block">
            <h3>{{ building.name }}</h3>
            <img src="{{ building.picture.url }}" alt="{{ building.name }}">
            <p>{{ building.description }}</p>
            <p>Unit Cost: {% for resource, value in building.building_cost_print.items %}{{ resource }}: {{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <button type="submit" name="building_id" value="{{ building.id }}">Build</button>
          </div>
        {% endif %}
      {% endfor %}
        </div>
    </form>
  {% else %}
    <p>No village found for the current user.</p>
  {% endif %}
</div>
{% endblock %}