{% extends 'base.html' %}

{% block content %}
  <h1>Build Infrastructure</h1>

  {% if request.user.village.exists %}
    <div class="container">
      <form method="POST" id="build-form">
        {% csrf_token %}
        {% with village=request.user.village.first %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
          <input type="hidden" name="village_id" value="{{ village.id }}">
        {% endwith %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="container-building">
        {% for building in available_buildings %}
          {% if building.b_type == "Infrastructure" %}
            <div class="building-block">
              <img src="{{ building.picture.url }}" alt="{{ building.name }}">
              <p>{{ building.description }}</p>
              <button type="submit" name="building_id" value="{{ building.id }}">Build</button>
            </div>
          {% endif %}
        {% endfor %}
          </div>
      </form>
    </div>
  {% else %}
    <p>No village found for the current user.</p>
  {% endif %}
{% endblock %}