{% extends 'base.html' %}

{% block content %}
  <h1>Build Infantry</h1>

  {% if request.user.village.exists %}
    <form method="POST" id="build-form">
      {% csrf_token %}
      {% with village=request.user.village.first %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="village_id" value="{{ village.id }}">
      {% endwith %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <label for="building">Select a building:</label>
      <select name="building_id" id="building">
        {% for building in available_buildings %}
          {% if building.name == "Barracks" %}
            <option value="{{ building.id }}">{{ building.name }} - Level {{ building.level }} - Cost: {{ building.cost }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit">Build</button>
    </form>

    {% if barracks_level >= 1 %}
    <h2>Build Troop</h2>
    {% if barracks_level >= 5 %}
        <form method="POST" id="build-swordsman-form">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="village_id" value="{{ village.id }}">
        <label for="swordsman">Build Swordsman:</label>
        <input type="number" name="swordsman_count" id="swordsman" value="1" min="1">
        <button type="submit">Build Swordsman</button>
        </form>
    {% else %}
        <p>Barracks level is below 5. Upgrade the Barracks to unlock the ability to build Swordsman.</p>
    {% endif %}

    <form method="POST" id="build-phalanx-form">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="village_id" value="{{ village.id }}">
        <label for="phalanx">Build Phalanx:</label>
        <input type="number" name="phalanx_count" id="phalanx" value="1" min="1">
        <button type="submit">Build Phalanx</button>
    </form>
    {% else %}
    <p>Barracks building is not yet built in the village.</p>
    {% endif %}

  {% else %}
    <p>No village found for the current user.</p>
  {% endif %}
{%endblock%}