{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
  <h1>Upgrade a Building</h1>
  <form method="post" action="{% url 'upgrade_building' %}">
    {% csrf_token %}
    {% with village=request.user.village.first %}
      {% if village %}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="village_id" value="{{ village.id }}">
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        <select name="building_select">
          {% for village_building in village.village_buildings.all %}
              <option value="{{ village_building.id }}">{{ village_building.building.name }} - Level: {{ village_building.level }} Cost: {{ building_cost.level_str }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
      {% else %}
        <p>No village found for the current user.</p>
      {% endif %}
    {% endwith %}
  </form>
  {% if request.method == 'POST' %}
  {% endif %}
{% endblock %}