<!DOCTYPE html>
{% load static i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<html lang="en">
<head>{# nematoma dalis #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} Travan {% endblock title %}</title>
</head>
<body>
    <div class="container">
        <header>
            <ul class="nav">
                <li class="logo"> <a href="{% url 'base' %}"> Travan </a></li>
                <li> Resources </li>
                <li> Village </li>
                {% if user.is_staff or user.is_superuser %}
                    <li><a href="{% url 'add_building' %}"> Add buildings </a></li>
                    <li><a href="{% url 'build_building' %}">Build a Building</a></li>
                    <li><a href="{% url 'upgrade_building' %}">Upgrade a Building</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% elif user.is_authenticated %}
                    <li><a href="{% url 'build_building' %}">Build a Building</a></li>
                    <li><a href="{% url 'upgrade_building' %}">Upgrade a Building</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}"> Signup </a></li>
                    <li><a href="{% url 'login' %}"> Login </a></li>
                {% endif %}           
            </ul>
        </header>
        {% if user.is_authenticated and village %}
            <div class="container">
                <ul class="res-nav">
                    <li>Wood: {{ village.wood_amount }}/{{ village.granary_capacity }} (Generation Rate: {{ total_generation_rate.Woodcutter }})</li>
                    <li>Clay: {{ village.clay_amount }}/{{ village.granary_capacity }} (Generation Rate: {{ total_generation_rate.Clay_pit }})</li>
                    <li>Iron: {{ village.iron_amount }}/{{ village.granary_capacity }} (Generation Rate: {{ total_generation_rate.Iron_mine }})</li>
                    <li>Crop: {{ village.crop_amount }}/{{ village.cranny_capacity }} (Generation Rate: {{ total_generation_rate.Crop }})</li>
                </ul>
            </div>
        {% endif %}
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer><p>&copy; 2023 <a href="https://discord.gg/QAUWnqGF" target="_blank">PTU12 (Karolis J)</a></p></footer>
    </div>
</body>
</html>